.header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-image: url('../../public/backgroundCall.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.header > h1 {
    color: var(--white);
}

.header > div:last-of-type {
    display: flex;
    align-items: center; 
    gap: 2vw;
}


.main {
    background-image: url('../../public/backgroundCall.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.main > section {
    width: 90vw;
    height: 100%;
    min-height: 75vh;
    background-color: #ddd;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.main > section > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}

.main > section > div:first-of-type::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-bottom: 1.5px solid var(--white);
    z-index: 1;
}

.main > section > div:first-of-type button{
    position: relative;
    z-index: 5;
    background-color: var(--white);
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 10%);
    transition: all 200ms;
}

.main > section > div:first-of-type button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%, 85%);
}

.main > section > div:first-of-type button:active{
    box-shadow: 1px 1px 2px hsl(0, 0%, 0%, 10%);
}

.main > section > div:last-of-type {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.main > section > div:last-of-type > div > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: hsl(0, 0%, 100%, 40%);
}

.main > section > div:last-of-type > div > div > span > svg:hover{
    cursor: pointer;
}


.footer {
    height: 10vh;
    background-image: url('../../public/backgroundCall.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    padding: 30px;
    text-align: center;  
}

.footer::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    left: 12.5%;
    top: 0;
    border-top: 1px solid var(--color-light);
}

.footer a {
    position: relative;
    z-index: 2;
    color: var(--white);
}


.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
} 

.modal {
    z-index: 5;
    width: 30vw;
    min-width: 320px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 10%);
}

.modal h3 {
    font-size: x-large;
    margin-bottom: 10px;
}


.modal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal form input {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding-left: 10px;
}

.modal > form > label:nth-child(3),
.modal > form > label:nth-child(4){
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal > form > label:nth-child(3) > input,
.modal > form > label:nth-child(4) > input {
    border-radius: 0;
    border: none;
    padding-left: 0;
}

.modal form > div:last-of-type{
    display: flex;
    gap: 1rem;
}

.modal form div button{
    position: relative;
    z-index: 5;
    border-radius: 10px;
    padding: 10px;
    /* width: 50%;
    height: 50px; */
    border: none;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 10%);
    transition: all 500ms;
}

.modal form div button:first-of-type{
    background-color: lightgreen;
}

.modal form div button:last-of-type{
    background-color: lightcoral;
}

.modal form div button:first-of-type:hover{
    background-color: hsl(120, 73%, 75%, 75%);
    cursor: pointer;
}

.modal form div button:last-of-type:hover{
    background-color: hsl(0, 79%, 72%, 75%);
    cursor: pointer;
}

.modal form div button:active{
    box-shadow: 1px 1px 2px hsl(0, 0%, 0%, 10%);
}


@media (max-width: 500px){

    .header > h1 {
        display: none;
    }
}