.nav {
    background-color: var(--white);
    border-bottom: 1px solid hsl(0, 0%, 96%);
    box-shadow: 0 1px 4px hsl(0, 0%, 80%);
    height: 4rem;
    transition: height 200ms 100ms ease-in-out;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav > ul > li{
    list-style: none;
}


.policy {
    padding: 100px;
    padding-bottom: 0px;
}

.policy div {
    margin-bottom: 50px;
}

.policy h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.policy h2 {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.policy h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.policy p {
    margin-bottom: 5px;
}

.policy ol {
    list-style: upper-roman;
}

.policy li {
    margin: 10px 0;
    margin-left: 20px;
}


@media (max-width: 720px){
    .policy {
        padding: 50px;
        padding-top: 100px;
        padding-bottom: 0px;
    }
    
}

@media (max-width: 500px){
    .policy p , .policy li {
        font-size: 90%;
    }

}

@media (max-width: 400px){

    .policy {
        padding: 25px;
        padding-top: 75px;
        padding-bottom: 0px;
    }
}

