/*======================================
    HOME
======================================*/

.home {
    height: 100vh;
    background-image: url(../../public/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 6.5rem;
    position: relative;
}

.home::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 50%;
    position: absolute;
    top: 0;
}

.home a{
    font-family:'Bootstrap-icons';
    z-index: 1;
    font-size: 6.5rem;
    color: var(--color-light);
    animation: homeBTN 2s infinite ease-in-out;
    cursor: pointer;
}

.home a:hover{
    transform: scale(115%);
    color: var(--color-base);
    animation: none;
}

@keyframes homeBTN{0%{transform: scale(100%);}50%{transform: scale(110%);}100%{transform: scale(100%);}}


/*======================================
    ABOUT
======================================*/

.about{
    display: flex;
    flex-direction: row;
    padding: 6.5rem 10%;
    gap: 4rem;
    height: 100vh;
}

.about > div:first-of-type{
    background-image: url(../../public/about.webp);
    width: 40%;  
    background-size: cover; 
    background-position: 40%;
}

.about > div:last-of-type{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.about > div:last-of-type h2{
    font-size: 4rem;
    border-bottom: 5px solid var(--color-base);
}

.about > div:last-of-type p{
    font-size: 1.5rem;
} 


/*======================================
    CALL ACTION
======================================*/
.call{
    background-image: url(../../public/backgroundCall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 1rem;
    padding: 1.5rem 0;
    padding-right: 20vw;
    position: relative;
}

.call::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 10%;
    position: absolute;
    top: 0;
    left: 0;
}

.call div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    z-index: 1;
}

.call span{
    color: var(--color-light);
    font-size: 2.5rem;
}


/*======================================
    SERVICES
======================================*/

.services {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.services h2{
    font-size: 4rem;
    border-bottom: 5px solid var(--color-base);
}

.services > div:first-of-type{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 12vw;
    row-gap: 2.5rem;
    column-gap: 2rem;
}

.services > div:first-of-type > div{
    min-width: 250px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: start;
    box-shadow: 0 1px 4px hsl(0, 0%, 70%);  
}


.services > div:first-of-type > div > div:first-of-type{
    height: 250px;
    overflow: hidden;
    position: relative;
}

.services > div:first-of-type > div > div:first-of-type::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    opacity: 40%;
}

.services > div:first-of-type > div > div:first-of-type > div{
    height: 100%;
    background-size: cover;
}

.services > div:first-of-type > div > div:last-of-type{
    height: 250px;
    border: 1px solid hsl(0, 0%, 96%);
    padding: 1rem;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services > div:first-of-type > div > div:last-of-type h3{
    font-size: 1.8rem;
    color: var(--color-base);
}

.services > div:first-of-type > div > div:last-of-type p{
    color: gray;
}

.services > div:first-of-type > div:hover > div:first-of-type > div{
    transform: scale(105%);
    transition: transform 700ms;
}

.services > div:first-of-type > div:hover > div:last-of-type{
    background-color: hsl(0, 0%, 96%);  
    border-color: var(--white);
    transition: background-color 700ms ease-out;
}

.ilha {
    background-image: url('../../public/Ilha.jpg');
    background-position: 50%;
}

.sanca {
    background-image: url('../../public/Sanca.png');
    background-position: 50%;
}

.cortineiro {
    background-image: url('../../public/Cortineiro.jpg');
    background-position: 40%;
}

.forro {
    background-image: url('../../public/Forro.jpg');
    background-position: 100%;
}

.divisorias {
    background-image: url('../../public/Divisórias.webp');
}

.reparos {
    background-image: url('../../public/Reparos.jpg');
}


/*======================================
    WORKS
======================================*/

.galery{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.galery h2{
    font-size: 4rem;
    border-bottom: 5px solid var(--color-base);
}

.galery > p{
    font-size: 2rem;
    color: gray;
    margin: auto;
}

@media (max-width: 1300px) {
    .about > div:last-of-type p{
        font-size: 1.1rem;
    } 
  
}

@media (max-width: 1100px) {

    .services > div:first-of-type{
        justify-content: space-evenly;

    }

    .call span{
        font-size: 1.8rem;
    }
}

@media (max-width: 850px) {

    .about > div:last-of-type{
        gap: 1rem;
    }
    
    
    .about > div:last-of-type p{
        font-size: 1rem;
    } 

    .call span{
        font-size: 1.5rem;
    }
  
}

@media (max-width: 750px) {

    .about{
        padding: 6.5rem 5%;
    }

    .about > div:first-of-type{
        width: 50%;
    }

    .about > div:last-of-type{
        width: 50%;
    }

    .call{
        padding-right: 15vw;
    }
}

@media (max-width: 700px) {

    .about{
        padding: 6.5rem 5%;
        height: 80vh;
    }

    .about > div:first-of-type{
        display: none;
    }

    .about > div:last-of-type{
        width: 100%;
    }

    .call span{
        font-size: 1.2rem;
    }

    .services > div:first-of-type{
        padding: 0 5vw;
    }
}

@media (max-width: 600px) {

    .call{
        padding-right: 10vw;
    }

    .call span{
        font-size: 1rem;
    }

    .services > div:first-of-type > div{
        min-width: 200px;
    }

    .services > div:first-of-type > div > div:last-of-type h3{
        font-size: 1.5rem;
    }

    .services > div:first-of-type > div > div:last-of-type p{
        font-size: 0.8rem;
    }

    .services > div:first-of-type > div > div:last-of-type{
        height: 200px;
    }
}

@media (max-width: 480px) {

    .call{
        padding-right: 3vw;
    }

    .call div{
        gap: 0.5rem;
    }

    .services > div:first-of-type{
        padding: 0 2vw;
        column-gap: 1rem;
    }

    .services > div:first-of-type > div{
        min-width: 150px;
    }

    .services > div:first-of-type > div > div:last-of-type h3{
        font-size: 1.4rem;
    }

    .services > div:first-of-type > div > div:last-of-type p{
        font-size: 0.7rem;
    }

    .services > div:first-of-type > div > div:first-of-type{
        height: 200px;
    }
}

