<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    
    <!-- Icone -->
    <link rel="shortcut icon" href="/static/media/LogoReduce.png" type="image/x-icon">

    <title>Amorim Drywall</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg custom-nav">
            <div class="container-fluid custom-container">
                <a class="navbar-brand" href="#">
                    <img src="/static/media/Logo.png" id="logo" alt="Logo da Pagina">
                    <img src="/static/media/LogoReduce.png" id="logo-reduce" alt="Logo da Pagina">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse custom-navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="about-nav-item">
                            <a class="nav-link" aria-current="page" href="#about">Sobre nós</a>
                        </li>
                        <li class="services-nav-item">
                            <a class="nav-link" aria-current="page" href="#services">Serviços</a>
                        </li>
                        <li class="works-nav-item">
                            <a class="nav-link" aria-current="page" href="#works">Galeria</a>
                        </li>
                    </ul>
                </div>
                <ul class="socials">
                    <li>
                        <a href="https://www.instagram.com/amorim_drywall/?hl=pt-br" target="_blank"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                        <a href=" https://wa.me/5513988393565" target="_blank"><i class="bi bi-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="home">
            <a href="#about" class="home-btn"><i class="bi bi-chevron-compact-down"></i></a>
        </section>
        <section id="about">
            <div class="area1"></div>
            <div class="area2">
                <h2>Sobre nós</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt molestiae adipisci vero odit totam ex et, eius aperiam aliquid doloribus eveniet, architecto, saepe alias possimus voluptates at reprehenderit libero delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facilis eius laborum saepe doloremque eligendi provident repudiandae molestias, ipsum placeat voluptatem perferendis sequi eos quae voluptas officia, at consequuntur unde.
                </p>
            </div>
        </section>
        <section id="call">
            <div class="row1">
                <span>Solicite seu orçamento pelo Whatsapp</span>
                <a href=" https://wa.me/5513988393565" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </div>
            <div class="row2">
                <span>Visite nossas redes sociais</span>
                <a href="https://www.instagram.com/amorim_drywall/?hl=pt-br" target="_blank"><i class="bi bi-instagram"></i></a>
            </div>
        </section>
        <section id="services">
            <h2>Serviços</h2>
            <div class="service-container">
                <div class="service-block">
                    <div class="service-header">
                        <div class="img" style="background-image: url(/static/media/Ilha.jpg); background-position: 50%;"></div>
                    </div>
                    <div class="service-content">
                        <h3>Ilha</h3>
                        <p>
                            A Ilha de Drywall é um serviço inovador e ao mesmo tempo clássico, proporcionando um lindo acabamento, deixando o ambiente que quiser com o design que deseja.
                        </p>
                    </div>
                </div>
                <div class="service-block">
                    <div class="service-header">
                        <div class="img" style="background-image: url(/static/media/Sanca.png); background-position: 50%;"></div>
                    </div>
                    <div class="service-content">
                        <h3>Sanca</h3>
                        <p>
                            A sanca de drywall, é o que há de moderno quando o assunto é decoração de ambientes, pois permite que sejam feitos vários tipos de formas e desenhos no ambiente.
                        </p>
                    </div>
                </div>
                <div class="service-block">
                    <div class="service-header">
                        <div class="img" style="background-image: url(/static/media/Cortineiro.jpg);"></div>
                    </div>
                    <div class="service-content">
                        <h3>Cortineiro</h3>
                        <p>
                            O cortineiro aproveita o forro de Drywall já construído e a cortina é instalada entre a parede e o forro. É um modelo mais moderno e quando iluminado, fica ainda mais charmoso e aconchegante!
                        </p>
                    </div>
                </div>
                <div class="service-block">
                    <div class="service-header">
                        <div class="img" style="background-image: url(/static/media/Forro.jpg); background-position: 100%;"></div>
                    </div>
                    <div class="service-content">
                        <h3>Forro</h3>
                        <p>
                            O forro de Drywall é uma vedação indicada para edifícios residenciais e comerciais, o produto é leve, sustentável, fácil de se trabalhar e que não gera entulho.
                        </p>
                    </div>
                </div>
                <div class="service-block">
                    <div class="service-header">
                        <div class="img" style="background-image: url(/static/media/Divisórias.webp);"></div>
                    </div>
                    <div class="service-content">
                        <h3>Divisórias</h3>
                        <p>
                            A divisória de Drywall é um sistema de construção de gesso acartonado que confere rápida e fácil instalação, sem sujeira, com muitas possibilidades de uso.
                        </p>
                    </div>
                </div>
                <div class="service-block">
                    <div class="service-header">
                        <div class="img" style="background-image: url(/static/media/Reparos.jpg);"></div>
                    </div>
                    <div class="service-content">
                        <h3>Reparos</h3>
                        <p>
                            Os reparos em revestimentos, paredes e tetos de drywall são mais simples, além de mais rápidos e limpos do que os serviços realizados em alvenaria.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="works">
            <h2>Galeria</h2>
            <p>Conheça ainda mais sobre meu trabalho !</p>
            <div class="works-container">
                <div class="works-buttons works-buttons-left"><i class="bi bi-chevron-left"></i></div>
                <div class="works-buttons works-buttons-right"><i class="bi bi-chevron-right"></i></div>
                {% for job in jobs %}
                    <div class="work-block" type="button" data-bs-toggle="modal" data-bs-target="#id{{ job.id }}" style="background-image: url('{{job.img.url}}');">
                        <span class="work-block-tags">{{ job.tags }}</span>
                        <!-- <p>{{ job.date.month }}/{{ job.date.year }}</p>
                        <div class="tags"></div> -->
                    </div>
                {% endfor %}
            </div>
            
            <!-- Modal -->
            {% for job in jobs %}
                <div class="modal fade custom-modal" id="id{{ job.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog custom">
                        <div class="modal-content custom">
                            <div class="modal-body custom custom-body">
                                <div id="carouselIndicators{{ job.id }}" class="carousel slide" data-bs-ride="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselIndicators{{ job.id }}" data-bs-slide-to="0" class="active"></button>
                                        {% for photo in photos %}
                                            {% if photo.job == job %}
                                                <button type="button" data-bs-target="#carouselIndicators{{ job.id }}" data-bs-slide-to="{{ photo.order }}"></button>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{ job.img.url }}" alt="{{ job.title }}">
                                        </div>
                                        {% for photo in photos %} 
                                            {% if photo.job == job %}
                                                <div class="carousel-item">
                                                    <img src="{{ photo.img.url }}" alt="{{ photo.job }}">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators{{ job.id }}" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators{{ job.id }}" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></button>
                                </div>                            
                            </div>
                        </div>
                    </div>  
                </div>  
            {% endfor %}
        </section>
    </main>
    <footer>
        <div class="area1">
            <img src="/static/media/Logo.png" alt="Logo da Pagina">
            <div class="col">
                <a href="https://www.instagram.com/amorim_drywall/?hl=pt-br" target="_blank">@amorim_drywall</a>
                <p>(13) 9 8839-3565</p>
                <a href=" https://wa.me/5513988393565" target="_blank" class="btn-contact">
                    <i class="bi bi-whatsapp"></i>
                    <span>Entre em Contato</span>
                </a>
            </div>
        </div>
        <div class="area2">
            <p>AmorimDrywall &copy; 2022 Todos os direitos reservados</p>
            <a href="#">Privacidade e termos</a>
            <p>Desenvolvido por <a href="https://github.com/MoreiraAlex" target="_blank">Alex Moreira</a></p>
        </div>
    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Custom JavaScript -->
    <script src="/static/js/script.js"></script>
</body>
</html>